@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.form-container{
    width: min(100%, 88%);
    margin: 0 auto;
}

.form-wrapper-inner{
   display: flex;
   justify-content: center;

    button{
        margin-left:rem(-32);
    }
}

.form{
    &__group-wrapper{
        @include flex-center-vertical;
        gap:rem(16);
    }
    &__group{
        position: relative;
        width: 100%;
    }
    &__control{
        outline:none;
        border:none;
        width: 100%;
        background: $clr-white;
        color:$clr-black;
        font-family: $ff-secondary;
        caret-color: $clr-secondary;
        outline:1px solid $clr-black;
        font-size: rem(16);
        line-height: 1.75;
        padding:em(12) em(16);
        &::placeholder{
            color:$clr-black;
        }
    }
    &__label{
        display: inline-block;
        pointer-events: none;
        position: absolute;
        text-transform: capitalize;
        font-family: $ff-secondary;
        color:$clr-black;
        top: 50%;
        left:rem(16);
        font-size: rem(16);
        line-height: 1.75;
        padding-left: 1em;
        margin-bottom: 0;
        transform: translateY(-50%);
        transition: all .3s ease;
        &--textarea{
            top: 20%;
        }
    }
}

.form__control:focus + label,
.form__control:valid + label{
    top: 0;
    font-size: rem(14);
    padding-inline: rem(8);
    background-color:$clr-white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1.25;
}

.form__control:focus {
    outline-color: $clr-secondary;
    &+ label{
        color:$clr-secondary
    }
}


.footer-form-group{
    @include flex-center-vertical;
    background: $clr-white;
    max-width: rem(500);
    @include border-radius(24px);
}

.footer-form-control{
    line-height: 2.5;
    outline:none;
    // @include border-radius(24px);
    border-radius: 24px 0 0 24px;
    border: 2px solid $clr-black;
    border-right:none;
}


.footer-form-control:focus + label,
.footer-form-control:valid + label{
    top: rem(10);
    padding-top: rem(6);
    background: transparent;
}

.footer-form-control{
    &:focus{
        border-color:$clr-secondary;
    }
}

// .custom-select {
//     position: relative;
//     &::after {
//         @include caret-down;
//         transition:transform 0.3s ease;
//         transform:rotate(0deg);
//     }
//     &:focus-within{
//         &::after {
//             transform:rotate(180deg);
//         }
//     }
// }

select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    width: 100%;
}

// ----------------------
.cta-wrapper{
    display: grid;
    place-items: center;
    @include breakpoint-lg{
        height: rem(576);
        max-height: none;
    }
}

.cta-link{
    @include flex-space-between;
    flex-wrap: wrap;
    row-gap:rem(24);

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap:rem(6);
        span{
            font-size: rem(14);
            color:$clr-grey;
        }
    }
    &__link{
        font-size: rem(18);
        line-height: 1.28;
        font-family: $ff-secondary;
        text-decoration: underline;
        text-decoration-color:$clr-black;
        text-underline-offset:4px;
        @include link-hover-effect($clr-black, $clr-secondary);
        &:hover{
            background-position: 0 0;
            text-decoration-color:$clr-secondary;
        }

    }

}