@use '../abstract/breakpoints' as *;
@use '../abstract/colors' as *;
@use "../abstract/fonts" as *;
@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;


.marquee-container{
    background-color: $clr-white;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.marquee-wrapper{
  display:flex;
  padding-block:1.25em;
  white-space: nowrap;
  gap: rem(250);
  @include breakpoint-sm{
    gap: rem(280);
  }
  @include breakpoint-md{
    gap: rem(320);
  }
  @include breakpoint-lg{
    gap: rem(360);
  }
  @include breakpoint-xl{
    gap: rem(400);
  }


  .marquee-list{
    @include flex-center-vertical;
    // gap:rem(400);
    list-style: none; 
    white-space: nowrap;
    animation: marquee-list 20s linear infinite;
    gap: rem(250);
    @include breakpoint-sm{
      gap: rem(280);
    }
    @include breakpoint-md{
      gap: rem(320);
    }
    @include breakpoint-lg{
      gap: rem(360);
    }
    @include breakpoint-xl{
      gap: rem(400);
    }
  }
  
  .marquee-list li {
    @include flex-center-vertical;
    gap:rem(48);
    padding: 0 1.5rem;
    figure{
      flex-shrink: 0;
    }

    .marguee-text{
      color:$clr-primary;
    }
  }
}
  

/* Keyframes for the marquee animation */
@keyframes marquee-list {
    0% {
      transform: translateX(0); 
    }
    100% {
      transform: translateX(-100%);
    }
}