$clr-primary: #0832FF;
$clr-secondary: #46EB25;
// $clr-tertiary: #104879;


$clr-black: #000000;
$clr-white: #ffffff;


$clr-grey: #b4b4b4;
$clr-grey-1:#3b3b3b;


$linear-gradient-clr:rgba(0, 0, 0, 0.35);