$clr-primary: #0832FF;
$clr-secondary: #46EB25;
// $clr-tertiary: #104879;

$clr-black: #000000;
$clr-white: #ffffff;


$clr-grey: #b4b4b4;
$clr-grey-1:#3b3b3b;
$clr-grey-2:#F1F1F1;
$clr-grey-3:#F6F7FB;



$linear-gradient-clr:rgba(0, 0, 0, 0.35);