// --------- Figtree Medium-------------
@font-face{
    font-family:"Figtree-Medium";
    src:url("../assets/fonts/Figtree/Figtree-Medium.eot");
    src:url("../assets/fonts/Figtree/Figtree-Medium.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Figtree/Figtree-Medium.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-Medium.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-Medium.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-Medium.svg#Figtree-Medium") format('svg');
    font-weight:500;
}

// --------- Figtree Bold-------------
@font-face{
    font-family:"Figtree-Bold";
    src:url("../assets/fonts/Figtree/Figtree-Bold.eot");
    src:url("../assets/fonts/Figtree/Figtree-Bold.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Figtree/Figtree-Bold.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-Bold.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-Bold.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-Bold.svg#Figtree-Bold") format('svg');
    font-weight:700;
}

// --------- Figtree Extra-Bold-------------
@font-face{
    font-family:"Figtree-Extra-Bold";
    src:url("../assets/fonts/Figtree/Figtree-ExtraBold.eot");
    src:url("../assets/fonts/Figtree/Figtree-ExtraBold.eot?#iefix") format("embedded-opentype"), 
        url("../assets/fonts/Figtree/Figtree-ExtraBold.woff2") format('woff2'),
        url("../assets/fonts/Figtree/Figtree-ExtraBold.woff") format('woff'),
        url("../assets/fonts/Figtree/Figtree-ExtraBold.ttf") format('truetype'),
        url("../assets/fonts/Figtree/Figtree-ExtraBold.svg#Figtree-Extra-Bold") format('svg');
    font-weight:800;
}

// --------- Helvetica-Regular -------------
@font-face{
    font-family:"Helvetica-Regular";
    src:url("../assets/fonts/Helvetica/Helvetica-regular.eot");
    src:url("../assets/fonts/Helvetica/Helvetica-regular.eot") format("embedded-opentype"), 
        url("../assets/fonts/Helvetica/Helvetica-regular.woff2") format('woff2'),
        url("../assets/fonts/Helvetica/Helvetica-regular.woff") format('woff'),
        url("../assets/fonts/Helvetica/Helvetica-regular.ttf") format('truetype'),
        url("../assets/fonts/Helvetica/Helvetica-regular.svg#Helvetica-Regular") format('svg');
    font-weight:400;
}


$ff-primary:"Figtree-Extra-Bold", sans-serif;
$ff-primary-m:"Figtree-Medium", sans-serif;
$ff-primary-b:"Figtree-Bold", sans-serif;
$ff-secondary:"Helvetica-Regular", sans-serif;