@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.hero{
    &__header{
        max-width: 74rem;
        margin-inline:auto;
        text-align: center;
    }
    &__subTitle{
        max-width: 40rem;
        margin-inline: auto;
    }
}

.counter-digit-wrapper{
    display: inline-flex;
    align-items: center;
    font-size: rem(32);
    line-height: 1.067;
    font-family: $ff-primary;
    @include breakpoint-md{
        font-size: rem(36);
    }
    @include breakpoint-md{
        font-size: rem(40);
    }
    @include breakpoint-lg{
        font-size: rem(44);
    }
    @include breakpoint-xl{
        font-size: rem(48);
    }
    @include breakpoint-xxl{
        font-size: rem(56);
    }
    @include breakpoint-xxxl{
        font-size: rem(60);
    }
}

.quick-questions{
    &__wrapper{
        display: flex;
        gap:rem(16);
        @include breakpoint-sm{
            gap:rem(24); 
        }
        @include breakpoint-md{
            gap:rem(32); 
        }

        figure{
            flex-shrink: 0;
        }
    }
}

.testimonials{
    &__card{
        position: relative;
        border:1px solid $clr-black;
        padding:em(29);
        z-index: 1;
        // &::after{
        //     content: " ";
        //     position: absolute;
        //     top: 0;
        //     right: -1px;
        //     clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        //     height: 40px;
        //     width: 46px;
        //     margin-top: -40px;
        //     border-right: 1px solid black;
        //     border-bottom: 1px solid white;
        // }
    }
    &__card-footer{
        display: flex;
        align-items: center;
        gap:rem(10);
        figure{
            @include dimensions(rem(50), rem(50));
            @include border-radius(50%);
            @include flex-center;
            background: $clr-primary;
            color:$clr-white;
        }
    }
    &__details{
        display: flex;
        flex-direction: column;
        span{
            font-size: rem(14);
            line-height: 1.2;
        }
    }
    &__btns-wrapper{
        @include flex-center-vertical;
        justify-content: flex-end;
        gap: rem(16);
        @include breakpoint-sm{
            gap:rem(20);
        }
        button{
            @include border-radius(8px);
            padding:em(8) em(16);
            &:hover{
                background-color: $clr-secondary;
                border-color:$clr-black;
            }
        }
    }
}

.tab{
    &__header{
        display: flex;
        align-items: center;
        gap:rem(32);
        max-width: 25rem;
        margin-inline: auto;
        border-bottom: 1.5px solid $clr-grey-1;
        @include breakpoint-md{
            gap:rem(48);
        }
        @include breakpoint-lg{
            gap:rem(64);
        }
    }
    &__title{
        padding-bottom: em(10);
        position: relative;
        &::before{
            content: " ";
            position: absolute;
            bottom:-2px;
            left: 0;
            height: 3px;
            width: 0;
            background-color: $clr-black;
            transition:width 0.3s ease;
            @include border-radius(10px);
        }
        &:hover{
            cursor: pointer;
            color:$clr-secondary;
        }
        &.active{
            color:$clr-secondary;
            &::before{
                width: 100%;
            }
        }
    }
}

.steps{
    &__list{
        position: relative;
        z-index: 1;
        &::before{
            content: "";
            position: absolute;
            left: 0;
        }
    }
    &__item{
        display: flex;
        gap:rem(24);
        @include breakpoint-sm{
            gap:rem(32);
        }
        @include breakpoint-md{
            gap:rem(36);
        }
        @include breakpoint-lg{
            gap:rem(40);
        }
        @include breakpoint-xl{
            gap:rem(44);
        }
        @include breakpoint-xxl{
            gap:rem(48);
        }
    }
    &__number-wrapper{
        @include flex-center;
        gap:rem(16);
    }
    &__number{
        font-size: rem(28);
        font-family: $ff-primary;
        @include breakpoint-md{
            font-size: rem(32);
        }
        @include breakpoint-lg{
            font-size: rem(36);
        }
        @include breakpoint-xl{
            font-size: rem(40);
        }
        @include breakpoint-xxl{
            font-size: rem(44);
        }
        @include breakpoint-xxxl{
            font-size: rem(48);
        }
    }
    &__content{
        p{
            max-width: 35rem;
        }
    }
}

.co-founder-card{
    max-width: rem(300);
    padding:em(16) em(24);
    background-color: $clr-white;
    border-top: 7px solid $clr-primary;
    position: absolute;
    bottom: 0;
    p{
        font-size: rem(16);
        @include breakpoint-md{
            font-size: rem(18);
        }
    }
    @include breakpoint-md{
        max-width: rem(360);
        padding:em(20) em(32);
    }
    @include breakpoint-lg{
        max-width: rem(420);
        padding:em(24) em(48);
    }
    @include breakpoint-xl{
        max-width: rem(474);
    }
}

.brands{
    position: relative;
    z-index: 1;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: url("../../../assets/images/bg-with-green-strap.png");
        background-repeat: no-repeat;
        background-size: cover;

    }
}


// About Start
.our-mission{
    &__wrapper{
        position: relative;
        padding-inline: em(16);
        @include breakpoint-sm{
            padding-inline: em(32);  
        }
        @include breakpoint-md{
            padding-inline: em(48);  
        }
        @include breakpoint-lg{
            padding-inline: em(64);  
        }
        @include breakpoint-xl{
            padding-inline: em(80);  
        }
        @include breakpoint-xxl{
            padding-inline: em(96);  
        }
        figure{
            margin-top: -5rem;
            @include breakpoint-sm{
                margin-top: -6rem;
            }
            img{
                max-width: rem(112);
                @include breakpoint-sm{
                    max-width: rem(144);
                }
                @include breakpoint-md{
                    max-width: rem(172);
                }
                @include breakpoint-md{
                    max-width: rem(220);
                }
                @include breakpoint-lg{
                    max-width: rem(260);
                }
                @include breakpoint-xl{
                    max-width: 100%;
                }
            }
        }
    }
}

.our-vision{
    position: relative;
    background-color: $clr-primary; 
    .custom-shape-divider-bottom-1729077812 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1729077812 svg {
        position: relative;
        display: block;
        width: calc(104% + 1.3px);
        height: 100px;
    }
    
    .custom-shape-divider-bottom-1729077812 .shape-fill {
        fill: #FFFFFF;
    }
}

.join-team{
    position: relative;
    background-color: $clr-primary; 
    margin-top: rem(-80);
    .custom-shape-divider-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 30px;
            transform: rotateY(180deg);
        }
        .shape-fill {
            fill: #FFFFFF;
        }
    }
    

    .custom-shape-divider-bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 60px;
        }
        .shape-fill {
            fill: #FFFFFF;
        }
    }

}
// About End



// What's SimpleSwitch Start
.overview{
    // background-image: url("../../../assets/images/what-simpleSwitch/overview-switch-2.png");
    // background-repeat: no-repeat;
    // background-position: center bottom;
    // background-size: cover;
    // height: 100vh;
    background: $clr-primary;
}


.specifications{
    
    &__item{
        display: flex;
        align-items: center;
        gap:rem(16);
        padding-block:em(10) em(16);
        @include breakpoint-sm{
            gap:rem(20);
        }
        @include breakpoint-md{
            gap:rem(24);
        }

        span{
            font-size: rem(20);
            line-height: 1.3;
            font-family: $ff-primary-m;
            @include breakpoint-sm{
                font-size: rem(24);
            }
            @include breakpoint-md{
                font-size: rem(28);
            }
        }
    }
}
// What's SimpleSwitch End


.power-management{
    background-image: url("../../../assets/images/what-simpleSwitch/power-management-1.png");
    @include background-cover;
    height: 75vh;
    &__wrapper{
        display: flex;
        align-items: flex-end;
        height: 70vh;
    }
}

.swiper-button-disabled{
    opacity: 0.8;
    background: $clr-secondary;
}

.section-header{
    margin-inline:auto;
    text-align:center;
    max-width: 30rem;
    @include breakpoint-lg{
        max-width: 35rem;
    }
    @include breakpoint-xl{
        max-width: 40rem;
    }
    @include breakpoint-xxl{
        max-width: 46rem;
    }
}

.section-subTitle{
    max-width: 30rem;
    margin-inline:auto;
    text-align:center;
}