@use '../abstract/colors' as *;
@use '../abstract/breakpoints' as *; 
@use '../abstract/functions' as *;
@use "../abstract/fonts" as *;


.img-fluid{
    max-width: 100%;
    height: auto;
}
.img-fluid-full{
    width: 100%;
    height: auto;
}

.img-cover{
    width:100%;
    object-fit:cover;
}

.list-none{
    list-style: none;
}

.d-flex-vertical{
    display: flex;
    align-items: center;
}

.txt-primary{
    color:$clr-primary;
}

.txt-secondary{
    color:$clr-secondary;
}

.txt-white{
    color:$clr-white;
}

.txt-black{
    color:$clr-black;
}

.txt-center{
    text-align:center;
}

.txt-left{
    text-align:left
}

.txt-right{
    text-align:right;
}

.uppercase{
    text-transform:uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.lowercase{
    text-transform: lowercase;
}

.underline{
  text-decoration: underline;   
}

.overflow-hidden{
    overflow:hidden;
}

.bg--primary{
    background: $clr-primary;
}

.bg--secondary{
    background: $clr-secondary;
}

// .bg--tertiary{
//     background: $clr-tertiary;
// }

// .bg--quartery{
//     background: $clr-quartery;
// }

.bg--white{
    background:$clr-white;
}

.bg-cover{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}

.mx-auto{
    margin: 0 auto;
}

.mx-auto-center{
    margin: 0 auto;
    text-align: center;
}

.mx-auto-left{
    margin-left: 0;
    text-align: left;
}

.mx-auto-right{
    margin-right: 0;
    text-align: right;
}

.list-none{
    list-style: none;
}

.list-pos-inside{
    list-style-position: inside;
}

.list-pos-outside{
    list-style-position:outside;
}

.relative{
    position: relative;
}

.fz-16{
    font-size: rem(16);
    line-height: 1.5;
}
.fz-18{
    font-size: rem(18);
    line-height: 1.33;
}

.ff-medium{
    font-family: $ff-primary-m;
    font-weight: 500;
}

.ff-bold{
    font-family: $ff-primary-b;
    font-weight: 700;
}


// ====== Dividers Start ========
.divider{
    height: 1px;
    width: 100%;
    background:$clr-black;

    &--white{
        background:$clr-white;
    }
    // &--grey{
    //     background:$clr-grey; 
    // }
    // &--secondary{
    //     background: $clr-secondary;    
    // }
}


// ====== Dividers End ========
.brdr-none{
    border:none;
}

.overflow-wrapper{
    position: relative;
    overflow: hidden;
}


.img-hover{
    position: relative;
    overflow: hidden;
    img{
        transition:transform 0.35s ease-out;
        backface-visibility: hidden;
        will-change: transform;
        transform: translateZ(0);
        object-fit: cover;
        -webkit-backface-visibility: hidden;
    }

    &:hover{
        img{
            transform: scale3d(1.05, 1.05, 1);
        }
    }
}

.body.disable-scroll{
    overflow-y: hidden;
}

// ===== Overlay ========
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $linear-gradient-clr;
    z-index: 11;
    display: none;

    &.active{
        display: block;
    }
}

.ff-primary{
    font-family: $ff-primary;
}

.fw-600{
    font-weight: 600;
}

.img-overlay{
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, $linear-gradient-clr, $linear-gradient-clr);
        pointer-events: none; 
    }
}